.topbar{
    background-color:#292c2f;

}
.btn{
    margin-right: 10px;
}

.aniworld{
  color: #5383d3;
}

.logo{
  filter: invert(1);
  margin-right: 15px;
}

.menubtns{
  margin-bottom: 10px;
  text-decoration: none;
}

